* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root {
  --headerBoxShadow: rgba(0, 0, 0, 0.1);
  --grey: #252830;
  --red: #f15a52;
  --green: #3abf73;
  --blue: #395ebc;
  --white: #fafafa;
}
header {
  height: 86px;
  width: 100%;
  box-shadow: 0 2px 1px 0 var(--headerBoxShadow);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
}
header .content {
  width: 95%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#locomogo {
  height: 60px;
  width: 185px;
}
#ces {
  height: 60px;
  width: 172px;
  margin-left: 12em;
}
#train {
  width: 400px;
  height: 60px;
}
main {
  height: 530px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/blocks-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main .content {
  height: 470px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: var(--grey);
}
main h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
}
main p {
  width: 373px;
  height: 78px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  background-color: var(--red);
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
main a {
  text-decoration: none;
  color: white;
}
#btnPreOrder {
  width: 200px;
  height: 38px;
}
.motto {
  width: 100%;
  height: 132px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
#italic {
  font-style: italic;
}
.mottoImg p {
  width: 594px;
  height: 96px;
}
.row {
  width: 100%;
  height: 400px;
  display: flex;
}
.col {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.col .content {
  height: 150px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.row img {
  height: 400px;
  width: 100%;
}
#blueBgWhiteCol {
  background-color: var(--blue);
  color: white;
}
.toyTrain {
  height: 590px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  color: var(--grey);
}
.toyTrain h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}
#green {
  color: var(--green);
}
.toyTrain p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 700;
}
.toyTrainRow {
  height: 230px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toyTrainRow h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  color: var(--grey);
}
.toyTrainCol {
  height: 230px;
  width: 230px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  line-height: 32px;
  font-weight: 700;
}
#redBgWhiteCol {
  background-color: var(--red);
  color: white;
}
#greenBgWhiteCol {
  background-color: var(--green);
  color: white;
}
#greyBgWhiteCol {
  background-color: var(--grey);
  color: white;
}
.howItWorks {
  height: 2465px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.howItWorks h1 {
  font-size: 64px;
  line-height: 77px;
  font-weight: 700;
  color: var(--grey);
  margin-top: 1em;
  margin-bottom: 2em;
}
.trainInfo {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--blue);
}
#trainImg {
  max-width: 100%;
}
.testimonials {
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.testimonialsRow {
  height: 165px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonialsCol {
  width: 47%;
  height: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonialsCol img {
  height: 140px;
  width: 140px;
}
.testimonialImgBg {
  height: 165px;
  width: 165px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonialsCol .content {
  width: 350px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.companies {
  height: 345px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.companies h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  color: var(--grey);
}
.companies .companiesRow {
  width: 80%;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companiesRow img {
  width: 238px;
  height: 80px;
}
.journey {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.journey p {
  width: 85%;
  text-align: center;
}
