* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root {
  --headerBoxShadow: rgba(0, 0, 0, 0.1);
  --grey: #252830;
  --red: #f15a52;
  --green: #3abf73;
  --blue: #395ebc;
}
header {
  height: 86px;
  width: 100%;
  box-shadow: 0 2px 1px 0 var(--headerBoxShadow);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
header .content {
  width: 95%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#locomogo {
  height: 60px;
  width: 185px;
}
#ces {
  height: 60px;
  width: 172px;
  margin-left: 12em;
}
#train {
  width: 400px;
  height: 60px;
}
main {
  height: 530px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/blocks-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
main .content {
  height: 470px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: var(--grey);
}
main h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
}
main p {
  width: 373px;
  height: 78px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  background-color: var(--red);
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
main a {
  text-decoration: none;
  color: white;
}
#preOrder {
  width: 200px;
  height: 38px;
}
.motto {
  width: 100%;
  height: 132px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
#italic {
  font-style: italic;
}
.mottoImg p {
  width: 594px;
  height: 96px;
}
.row {
  width: 100%;
  height: 400px;
  display: flex;
}
.col {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row img {
  height: 400px;
  width: 100%;
}
#blueBgWhiteCol {
  background-color: var(--blue);
  color: white;
}
